.card {
  margin-top: 10px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background: rgb(245, 246, 245);
  background: linear-gradient(86deg, rgba(245, 246, 245, 1) 0%, rgba(237, 237, 235, 1) 100%);

  padding: 10px 20px;

  max-width: 330px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 15px;
  }
}


.chip {
  width: 35px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.paymentSystemLogo {
  height: 30px;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  animation-name: smoothAppear;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}


.cardNumberInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .08);
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.cardOwnerInput {
    width: auto;
    border: none;
    outline: none;
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .08);
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    text-transform: uppercase;
  margin-right: 5px;
}

.cardExpirationDateInput {
  width: auto;
  margin-left: auto;
  max-width: 70px;
  border: none;
  padding: 5px 0;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .08);
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}


.cardCvv {
  width: auto;
  margin-left: auto;
  max-width: 60px;
  border: none;
  padding: 5px 0;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .08);
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}

@keyframes smoothAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
