@import '../../../style/utils/variable';

.tools {
    width: 100%;
    padding: 10px;
    border: 7px;
    background: $tools-background;

    &__title {
        font-weight: 500;
        font-size: 16px;

    }

    &__visible {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &__info {
            width: 300px;
            display: flex;
            align-items: center;

            &__title {
                padding: 10px;
                font-weight: 600;
                font-size: 20px;
                padding-right: 20px;
            }

            &__settings {
                width: 120px;
                display: flex;
                justify-content: space-between;

                &__copy {
                    height: 20px;
                    display: flex;
                    align-items: flex-ends;

                    span {
                        transform: translateY(2px);
                    }

                    &__icon {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        cursor: pointer;

                        .copy-logo {
                            .copy-logo__top {
                                fill: none;
                                stroke: $usual-text-color;
                                stroke-miterlimit: 10;
                            }

                            .copy-logo__bottom {
                                fill: none;
                                stroke: $usual-text-color;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-miterlimit: 10;
                            }
                        }

                        .check-logo {
                            .check-logo__path {
                                fill: none;
                                stroke: $contrast-color;
                                stroke-width: 2;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-miterlimit: 10;
                            }

                        }

                        &:active {
                            transform: scale(1.25);
                        }
                    }


                }

                button {
                    padding: 2px 5px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    background: #eeeeee;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        box-shadow: 2px 2px 4px rgba($color: gray, $alpha: 0.2);
                    }

                    &:active {
                        transform: scale(1.25);
                    }
                }
            }
        }



        &__search-wrap {
            max-width: 500px;
            width: 100%;
        }
    }

    &__selects-wrap {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        &__select-tools {
            max-width: 500px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 500px) {
                flex-direction: column;
            }

            &__tool {
                width: 240px;

                &__title {
                    width: 100%;
                    display: flex;

                    &__name {
                        font-weight: 500;
                    }

                    &__count {
                        width: 40px;
                        padding-left: 10px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &__select {
                    width: 100%;
                    margin-bottom: 10px;
                    display: block;
                    font-size: 16px;
                    padding: 5px 2px;
                    border: 1px solid $yellow-accent-color;
                    border-radius: 7px;
                    transition: .3s;

                    &::-ms-expand {
                        display: none;
                    }

                    &:hover {
                        box-shadow: 2px 2px 4px rgba($color: gray, $alpha: 0.2);
                    }

                    &:focus {
                        box-shadow: 0 0 1px 3px rgba($color: $contrast-color, $alpha: 0.1);
                        outline: none;
                    }

                    option {
                        font-weight: normal;
                    }
                }

            }
        }
    }

    &__range-sliders {
        max-width: 840px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__range {
            width: 340px;
            padding: 10px;

            &__title {
                padding-bottom: 8px;
            }
        }
    }
}