@import '../../../style/utils/variable';

.tools {
    width: 100%;
    padding: 10px;
    border: 7px;
    background: $promo-background-color;

    &__visible {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__hidden {
        width: 100%;
        padding: 10px;

        &__filter {
            max-width: 500px;
            width: 100%;
            width: fit-content;
            display: flex;
            justify-content: space-between;

            @media (max-width: 500px) {
                flex-direction: column;
            }

            &__category,
            &__brand {
                width: 240px;

                &__title {
                    width: 100%;
                    display: flex;

                    &__name {
                        font-weight: 400;
                    }

                    &__count {
                        width: 40px;
                        padding-left: 10px;
                        display: flex;
                        justify-content: center;
                    }
                }

                select {
                    width: 240px;
                    height: 20px;
                    margin-bottom: 10px;
                    outline: none;

                    &:active {
                        outline: none;

                    }
                }
            }
        }
    }
}