@import '../../style/utils/variable';

.item {
    width: 100%;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;

    &__error {
        text-align: center;
        font-size: 45px;
        font-weight: 500;
    }

    &__wrap {
        max-width: 1200px;
        width: 100%;

        &__title {
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 32px;
            line-height: 56px;
            color: $item-card-font-color;
        }

        &__info {
            width: 100%;
            display: flex;

            @media (max-width: 940px) {
                flex-direction: column;
            }

            &__img-wrap {
                max-width: 500px;
                width: 100%;
                height: 40vh;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 7px;
                overflow: hidden;
                background: white;

                &__preview {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    &__item {
                        width: 70px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 7px;
                        background: white;
                        transition: .3s;
                        cursor: pointer;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }

                        &:hover {
                            box-shadow: 0px 0px 6px rgba($color: gray, $alpha: 0.5);
                        }
                    }

                    .item-active {
                        border: 1px solid gray;
                    }
                }

                &__image {

                    width: calc(100% - 90px);
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        object-fit: contain;
                    }
                }

            }

            &__about {
                width: calc(100% - 500px);
                margin-left: 70px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: white;

                @media (max-width: 940px) {
                    width: 100%;
                    min-height: 270px;
                    height: fit-content;
                    margin-top: 30px;
                    margin-left: 30px;
                }

                &__block {

                    &__price {
                        font-weight: 700;
                        font-size: 2.25em;
                        line-height: 42px;
                        color: $item-card-font-color;
                    }

                    &__category,
                    &__brand {
                        display: flex;
                        font-weight: 600;
                        font-size: 1.5em;
                        line-height: 42px;
                        color: $item-card-font-color;

                        @media (max-width: 400px) {
                            display: none;

                        }

                        &__name {
                            display: block;
                            padding-left: 5px;
                            font-weight: 400;

                            &::first-letter {
                                text-transform: uppercase;
                            }
                        }
                    }

                    &__description {
                        padding-top: 10px;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }

}