@import "../../../style/utils/variable";


.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, .1);
  border-bottom: 1px solid #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  &:not(:first-child) {
    margin-top: 10px;

  }
}
.number {
  background-color: $primary-black;
  color: white;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  justify-content: center;
  margin-right: 10px;
}
.picture {
  width: 100px;
  max-height: 100px;
  object-fit: cover;

  border-radius: 8px;
  margin-right: 10px;
}
.information {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: $primary-black;
}
.description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: $usual-text-color;
  max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.informationRow {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.rating {
  color: $contrast-color-hover;
  font-weight: 500;
}
.discount {
  color: $yellow-accent-color;
  font-weight: 500;
}
.conclusion {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stock {
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.countBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.changeCountBtn {
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 1px solid $primary-blue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    background-color: $primary-blue;
    color: white;
  }

  &:active {
    transform: scale(0.8);
  }
}
.count {
  margin-left: 13px;
  margin-right: 13px;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.totalPrice {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  margin-top: 5px;
  color: #000000;
}



@media (max-width: 999px) {

  .cartItem {
    padding: 7px;
  }
  .picture {
    width: 85px;
    border-radius: 5px;
  }

  .number {
    width: 25px;
    height: 25px;
    font-size: 11px;
  }

  .totalPrice {
    font-size: 17px;
  }

  .changeCountBtn {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 639px) {
  .description {
    max-width: 135px;
  }

  .title {
    font-size: 14px;
    line-height: 100%;
    text-wrap: normal;
  }

  .totalPrice {
    font-size: 18px;
  }

  .picture {
    width: 100%;
    max-height: 200px;
    margin: auto;
  }

  .cartItem {
    width: 100% !important;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 3px;
  }
  .number {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 27px;
    height: 27px;
    font-size: 18px;
  }

  .conclusion {
    width: 100%;
    align-items: center;
  }

  .information {
    width: 100%;
    margin: auto;
  }

  .informationRow {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .countBlock {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .changeCountBtn {
    width: auto;
    padding: 0 14px;
  }


  .count {
    margin: 0;
  }

}

