$main-background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
$primary-blue: #1890FF;
$primary-black: #262626;
$usual-text-color: #8C8C8C;
$promo-background-color: #FFF1B8;


$main-font-color: #302C34;
$item-card-font-color: #000000;
$contrast-color: #1890FF;
$contrast-color-hover: #018912;
$red-accent-color: #e84118;
$yellow-accent-color: #FFC107;