@import './utils/reset';
@import './utils/variable';

body {
  font-family: 'Roboto', sans-serif;
  background: no-repeat;
}

body * {
  font-family: 'Roboto', sans-serif;
}
<<<<<<< HEAD


=======
>>>>>>> 5528c709ce294c5e50faafae013205caf76f5c6d
