@import 'style/utils/reset';
@import 'style/utils/variable';

.wrapper {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__main {
        width: 100%;
        min-height: 80vh;
        height: fit-content;
    }
}