.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &__catalog {
            width: 160px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &__logo {
                font-size: 30px;
                font-weight: bold;
                display: flex;
                align-items: flex-end;
                a {
                    transform: translateY(5px);
                }

            }

        }
    }


}

.active {
    color: red;

}